[submodule "ScreepsAutocomplete"]
	path = ScreepsAutocomplete
	url = https://github.com/Garethp/ScreepsAutocomplete.git
[submodule "tutorial"]
	path = tutorial
	url = https://github.com/screeps/tutorial-scripts.git
